IndentWidth: 4
TabWidth: 4
AccessModifierOffset: -4
AllowShortBlocksOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: true
AllowShortFunctionsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false
AllowShortLambdasOnASingleLine: All
AllowShortLoopsOnASingleLine: false
UseTab: Never
AlwaysBreakTemplateDeclarations: Yes
AlignConsecutiveAssignments: false
AlignEscapedNewlines: Right
AlignTrailingComments: false
AlignConsecutiveMacros: false
AllowAllArgumentsOnNextLine: false
AlignConsecutiveDeclarations: false
SpaceInEmptyParentheses: false
SpaceBeforeRangeBasedForLoopColon: false
SpaceBeforeParens: ControlStatements
SpaceBeforeInheritanceColon: false
SpaceBeforeCtorInitializerColon: false
SpaceBeforeCpp11BracedList: true
SpacesInContainerLiterals: false
SpacesInCStyleCastParentheses: false
SpacesInAngles: false
SpacesInSquareBrackets: false
SpacesInParentheses: false
SpacesBeforeTrailingComments: 1
SpaceAfterLogicalNot: false
Cpp11BracedListStyle: false
SpaceBeforeAssignmentOperators: true
SpaceAfterTemplateKeyword: true
SpaceAfterCStyleCast: false
ReflowComments: true
PointerAlignment: Left
NamespaceIndentation: Inner
Language: Cpp
IndentPPDirectives: BeforeHash
IndentCaseLabels: true
IncludeBlocks: Regroup
ConstructorInitializerAllOnOneLineOrOnePerLine: true
ConstructorInitializerIndentWidth: 2
AllowAllConstructorInitializersOnNextLine: true
BreakStringLiterals: false
BreakBeforeTernaryOperators: true
BreakBeforeBraces: Custom
BreakConstructorInitializers: BeforeColon
PenaltyBreakTemplateDeclaration: 0
BraceWrapping:
  AfterEnum: true
  AfterStruct: false
  AfterCaseLabel: false
  AfterClass: true
  AfterControlStatement: false
  AfterFunction: false
  BeforeCatch: false
  AfterNamespace: false
  BeforeElse: false
  SplitEmptyFunction: false
  SplitEmptyRecord: false
  SplitEmptyNamespace: false
